.start-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.start-container h1 {
  font-size: 100px;
  margin: 0;
}

.start-btn {
  width: 300px;
  height: 150px;
  font-size: 30px;
  color: var(--highlight);
  background: transparent;
  border: none;
  background-image: url('/img/start-btn.png');
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

.start-btn:hover {
  cursor: pointer;
  background-image: url('/img/start-btn-hover.png');
  color: var(--medium-green);
}

@media (max-width: 768px) {
  .start-container h1 {
    font-size: 60px;
  }

  .start-btn {
    width: 250px;
    height: 125px;
    background-size: 250px;
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .start-container h1 {
    font-size: 40px;
    text-align: center;
  }

  .start-btn {
    width: 200px;
    height: 100px;
    background-size: 200px;
    font-size: 20px;
  }
}