.left-container {
  width: 100%;
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .left-container {
    height: 300px;
    background-size: 300px;
    min-height: 300px;
  }
}

@media (max-width: 480px) {
  .left-container {
    height: 250px;
    background-size: 250px;
    min-height: 250px;
  }
}