.letter-btn {
  width: 70px;
  height: 70px;
  font-size: 25px;
  color: var(--highlight);
  background: transparent;
  border: none;
  background-image: url('./img/btn_main.png');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.letter-btn:hover {
  transform: translateY(-2px);
  cursor: pointer;
  background-image: url('./img/btn_correct.png');
  color: var(--medium-green);
}

.letter-btn:disabled {
  cursor: auto;
  transform: none;
}

@media (max-width: 768px) {
  .letter-btn {
    width: 60px;
    height: 60px;
    font-size: 22px;
    background-size: 60px;
  }
}

@media (max-width: 480px) {
  .letter-btn {
    width: 45px;
    height: 45px;
    font-size: 18px;
    background-size: 45px;
  }
}