@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Pixelify+Sans:wght@400..700&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

:root {
  --main-bg: #18362B;
  --medium-green: #3B8155;
  --highlight: #B8E530;
}

* {
  font-family: "Pixelify Sans";
  color: var(--highlight);
  background-color: var(--main-bg);
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
}


.main-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: 100%;
}

.left-container {
  width: 100%;
  /*background-color: var(--medium-green);*/
  background-image: url('/img/hangman1.png');
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: center;
}

.right-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-div h1 {
  margin: 0;
}

.word-container {
  height: 100%;
}

.word-container {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.letter-box {
  width: 50px;
  height: 60px;
  border-bottom: 3px solid var(--highlight); /* That lime-green color from your design */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  color: var(--highlight);
}
