#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  width: 70px;
  height: 70px;
  background: none;
  border: none;
}

.btn-bg {
  background-image: url('/img/btn_main.png');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
} 