@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Pixelify+Sans:wght@400..700&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

:root {
  --main-bg: #18362B;
  --medium-green: #3B8155;
  --highlight: #B8E530;
}

* {
  font-family: "Pixelify Sans";
  color: var(--highlight);
  background-color: var(--main-bg);
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
}


.main-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: 100%;
}

.left-container {
  width: 100%;
  background-color: var(--medium-green);
}

.right-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.word-container {
  height: 100%;
}
